/* Container หลักของหน้า */
.product-page-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: #18181C; 
    color: #fff;
    border-radius: 8px;
  }
  

  .product-image-container {
    flex: 1;
    max-width: 400px;
    margin-right: 20px;
  }
  
  .product-image-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  

  .image-label {
    display: flex;                  
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    height: 30%;            
    margin-top: 1px;                
    border-radius: 5px;
    background-color: #1e6cb7;     
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 700;
  }
  
  /* ส่วนรายละเอียดสินค้า */
  .product-details-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .product-details-container h2 {
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: bold;
  }
  

  .product-description {
    margin-bottom: 20px;
    line-height: 1.6;
  }
  

  .product-price {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
 
  .product-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .preorder-btn,
  .add-cart-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .preorder-btn {
    background-color: #18A77E;
    color: #fff;
  }
  
  .add-cart-btn {
    background-color: #FFC439;
    color: #fff;
  }

  .product-activation p {
    margin: 5px 0;
    font-size: 16px;
  }
  

  .check-icon {
    font-size: 18px;
    color: green;
    font-weight: bolder;
    margin-right: 8px;
  }
  

  .label-icon {
    font-size: 18px;

  }
  